<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.9.0.0" newVersion="3.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gherkin" publicKeyToken="86496cfa5b4a5851" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.0.3.0" newVersion="19.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DogAPIRandomSearchURL" value="https://dog.ceo/api/breeds/list/random" />
    <add key="DogAPIBreedListURL" value="https://dog.ceo/api/breeds/list/all" />
    <add key="DogAPIBulldogSearch" value="https://dog.ceo/api/breed/bulldog/images" />
    <add key="PetAPIAvailableSearch" value="https://petstore.swagger.io/v2/pet/findByStatus?status=available" />
    <add key="PetAPIURL" value="https://petstore.swagger.io/v2/pet" />
  </appSettings>
</configuration>